# Pseudo-parameters
snippet .param:account-id
	AWS::AccountId

snippet .param:notification-arns
	AWS::NotificationARNs

snippet .param:no-value
	AWS::NoValue

snippet .param:partition
	AWS::Partition

snippet .param:region
	AWS::Region

snippet .param:stack-id
	AWS::StackId

snippet .param:stack-name
	AWS::StackName

snippet .param:url-suffix
	AWS::URLSuffix
